### Project December 2018 for Programming for Data Analysis

### Problem statement
For this project you must create a data set by simulating a real-world phenomenon of
your choosing. You may pick any phenomenon you wish – you might pick one that is
of interest to you in your personal or professional life. Then, rather than collect data
related to the phenomenon, you should model and synthesise such data using Python.
We suggest you use the numpy.random package for this purpose.

Specifically, in this project you should:
- Choose a real-world phenomenon that can be measured and for which you could
collect at least one-hundred data points across at least four different variables.
- Investigate the types of variables involved, their likely distributions, and their
relationships with each other.
- Synthesise/simulate a data set as closely matching their properties as possible.
- Detail your research and implement the simulation in a Jupyter notebook – the
data set itself can simply be displayed in an output cell within the notebook.

Note that this project is about simulation – you must synthesise a data set. Some
students may already have some real-world data sets in their own files. It is okay to
base your synthesised data set on these should you wish (please reference it if you do),
but the main task in this project is to create a **synthesised data set**.

### Real-world phenomenon chosen

Changing tack here based on my research into life expantancy probablility and understanding of the project, I have now decided to change my real-world phenomenon! [3]

The real-world phenomenon I have chosen is the attitude of children to Santa Claus. I decided the most interesting variable related to this is the age of children when they stop writing letters to Santa Claus (age). 

On investigation of the problem I reasoned that the Sex of the child (sex); whether or not the child had older siblings (sibs); and the number of hours per week the child was accessing a mobile device (hours) had a relationship with the age they stopped writing letters to Santa Claus.

- The Sex (sex) variable will be M/F and follow the Bernoulli distribution?
- The Siblings (sibs) variable will be Yes/No and follow the Bernoulli distribution?
- The Hours per week (hours) variable will be non-negative real number with two decimal places.

After extensive research at home observing my children and interrogating other parents, I find that primary school students access mobile devices on average five hours per week with a standard deviation of one hour and that a normal distribution is an acceptable model for such a variable.

In [1]:
# Create a datetime index for a data frame.
# Adapted from: https://pandas.pydata.org/pandas-docs/stable/timeseries.html
# 50 years starting with midnight Jan 1st, 1947

import pandas as pd
rng = pd.date_range('1/1/1947', periods=50, freq='Y')
rng

DatetimeIndex(['1947-12-31', '1948-12-31', '1949-12-31', '1950-12-31',
               '1951-12-31', '1952-12-31', '1953-12-31', '1954-12-31',
               '1955-12-31', '1956-12-31', '1957-12-31', '1958-12-31',
               '1959-12-31', '1960-12-31', '1961-12-31', '1962-12-31',
               '1963-12-31', '1964-12-31', '1965-12-31', '1966-12-31',
               '1967-12-31', '1968-12-31', '1969-12-31', '1970-12-31',
               '1971-12-31', '1972-12-31', '1973-12-31', '1974-12-31',
               '1975-12-31', '1976-12-31', '1977-12-31', '1978-12-31',
               '1979-12-31', '1980-12-31', '1981-12-31', '1982-12-31',
               '1983-12-31', '1984-12-31', '1985-12-31', '1986-12-31',
               '1987-12-31', '1988-12-31', '1989-12-31', '1990-12-31',
               '1991-12-31', '1992-12-31', '1993-12-31', '1994-12-31',
               '1995-12-31', '1996-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [2]:
# Simulate some lE data using numpy.

import pandas as pd
import numpy as np
LE = pd.DataFrame(np.random.poisson(78, len(rng)), index=rng, columns=["LE"])
LE

            LE
1947-12-31  64
1948-12-31  71
1949-12-31  80
1950-12-31  70
1951-12-31  76
1952-12-31  85
1953-12-31  88
1954-12-31  92
1955-12-31  65
1956-12-31  79
1957-12-31  78
1958-12-31  88
1959-12-31  78
1960-12-31  63
1961-12-31  65
1962-12-31  87
1963-12-31  72
1964-12-31  83
1965-12-31  76
1966-12-31  70
1967-12-31  80
1968-12-31  80
1969-12-31  79
1970-12-31  80
1971-12-31  78
1972-12-31  80
1973-12-31  82
1974-12-31  84
1975-12-31  78
1976-12-31  88
1977-12-31  79
1978-12-31  97
1979-12-31  65
1980-12-31  61
1981-12-31  70
1982-12-31  88
1983-12-31  78
1984-12-31  81
1985-12-31  73
1986-12-31  83
1987-12-31  81
1988-12-31  75
1989-12-31  88
1990-12-31  84
1991-12-31  72
1992-12-31  91
1993-12-31  63
1994-12-31  84
1995-12-31  76
1996-12-31  67

In [3]:
# generates a random set of ages of those born in the 50 years between 1947 and 1997
age = np.random.randint(1947, 1997, 100)
age

array([1953, 1995, 1965, 1951, 1974, 1948, 1974, 1996, 1967, 1978, 1962,
       1967, 1954, 1972, 1959, 1970, 1965, 1973, 1948, 1996, 1991, 1957,
       1986, 1951, 1996, 1958, 1953, 1982, 1987, 1996, 1972, 1991, 1982,
       1989, 1961, 1964, 1951, 1965, 1986, 1971, 1970, 1968, 1983, 1965,
       1986, 1966, 1959, 1959, 1957, 1967, 1974, 1977, 1976, 1985, 1949,
       1963, 1955, 1974, 1951, 1957, 1956, 1949, 1993, 1989, 1962, 1966,
       1971, 1981, 1972, 1951, 1951, 1957, 1948, 1969, 1954, 1991, 1951,
       1991, 1952, 1973, 1964, 1962, 1959, 1965, 1991, 1982, 1983, 1994,
       1972, 1974, 1963, 1959, 1961, 1965, 1947, 1985, 1985, 1992, 1992,
       1977])

### References:
1. https://realpython.com/python-random/
2. https://data.gov.ie/
3. https://understandinguncertainty.org/why-life-expectancy-misleading-summary-survival
4. /n